Repository muhandojeon/Why-Do-We-Work, changes with the labels that .github/labeler.yml gives for each.
All labels: 1장, 2장, 3장, 4장, 5장, 6장

5장 문희상
  5장/문희상.md
Labels: 5장

6장 전호영
  6장/전호영.md
Labels: 6장

[docs] : 5장 오타를 수정한다
  5장/한상호.md
Labels: 5장

6장 한상호
  6장/한상호.md
Labels: 6장

5장 문희상 오타수정
  5장/문희상.md
Labels: 5장

1장 공예영 (#8)
  1장/공예영.md
Labels: 1장

[강연주] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가 (#9)
  2장/강연주.md
  3장/강연주.md
Labels: 2장, 3장

[한상호] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가 (#10)
  2장/한상호.md
  3장/서기.md
  3장/한상호.md
Labels: 2장, 3장

[전호영] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가 (#11)
  2장/전호영.md
  3장/전호영.md
Labels: 2장, 3장

[이은학] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가 (#13)
  2장/이은학.md
  3장/이은학.md
Labels: 2장, 3장

2,3장 황동준 (#15)
  2장/황동준.md
  3장/황동준.md
Labels: 2장, 3장

[전호영] 4, 5장 : 노력을 지속하는가, 현재에 만족하는가 (#17)
  4장/전호영.md
  5장/전호영.md
Labels: 4장, 5장

[한상호] 4, 5장 : 노력을 지속하는가, 현재에 만족하는가 (#16)
  4장/한상호.md
  5장/한상호.md
Labels: 4장, 5장

[문희상] 4, 5장 : 노력을 지속하는가, 현재에 만족하는가 (#18)
  4장/문희상.md
  5장/문희상.md
Labels: 4장, 5장

6장 전호영 (#19)
  6장/전호영.md
Labels: 6장

[한상호] 6장 : 창조적으로 일하는가 (#20)
  6장/한상호.md
  README.md
Labels: 6장

[chore] Delete 최서희.md
  최서희.md
Labels: none

.github/labeler.yml:

1장:
  - 1장/*
2장:
  - 2장/*
3장:
  - 3장/*
4장:
  - 4장/*
5장:
  - 5장/*
6장:
  - 6장/*
