Repository muhandojeon/Why-Do-We-Work, changes with the labels that .github/labeler.yml gives for each.
All labels: 1장, 2장, 3장, 4장, 5장, 6장

.github/labeler.yml:

1장:
  - 1장/*
2장:
  - 2장/*
3장:
  - 3장/*
4장:
  - 4장/*
5장:
  - 5장/*
6장:
  - 6장/*

1장 한상호
  1장/한상호.md
Labels: 1장

1장
  1장/전호영.md
Labels: 1장

1장 문희상
  1장/문희상.md
Labels: 1장

Create 최서희.md
  1장/최서희.md
Labels: 1장

1장 황동준
  1장/황동준.md
Labels: 1장

1장 강연주
  1장/강연주.md
Labels: 1장

1장 이은학
  1장/이은학.md
Labels: 1장

Create 공예영.md
  1장/공예영.md
Labels: 1장

Create 1주차 서기.md
  1장/서기.md
Labels: 1장

1장 한상호 (#1)
  1장/한상호.md
Labels: 1장

1장 (#2)
  1장/전호영.md
Labels: 1장

1장 문희상 (#3)
  1장/문희상.md
Labels: 1장

1장 황동준 (#5)
  1장/황동준.md
Labels: 1장

1장 강연주 (#6)
  1장/강연주.md
Labels: 1장

1장 이은학 (#7)
  1장/이은학.md
Labels: 1장

2장 강연주
  2장/강연주.md
Labels: 2장

2장 문희상
  2장/문희상.md
Labels: 2장

2장 한상호
  2장/한상호.md
Labels: 2장

3장 한상호
  3장/한상호.md
Labels: 3장

3장 강연주
  3장/강연주.md
Labels: 3장

2장
  2장/전호영.md
Labels: 2장

3장
  3장/전호영.md
Labels: 3장

3장 문희상
  3장/문희상.md
Labels: 3장

2장 이은학
  2장/이은학.md
Labels: 2장

Create 최서희.md
  최서희.md
Labels: none

3장 이은학
  3장/이은학.md
Labels: 3장

Create 최서희.md
  2장/최서희.md
Labels: 2장

Update 최서희.md
  1장/최서희.md
Labels: 1장

Create 최서희.md
  3장/최서희.md
Labels: 3장

2,3장 황동준
  2장/황동준.md
  3장/황동준.md
Labels: 2장, 3장

Create 서기.md
  3장/서기.md
Labels: 3장

[최서희] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가 (#14)
  1장/최서희.md
  2장/최서희.md
  3장/최서희.md
  최서희.md
Labels: 1장, 2장, 3장

[문희상] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가 (#12)
  2장/문희상.md
  3장/문희상.md
Labels: 2장, 3장

4장 한상호
  4장/한상호.md
Labels: 4장

5장 한상호
  5장/한상호.md
Labels: 5장

5장 한상호 (수정)
  5장/한상호.md
Labels: 5장

4장 전호영
  4장/전호영.md
Labels: 4장

5장 전호영
  5장/전호영.md
Labels: 5장

[docs] : 리드미를 수정한다
  README.md
Labels: none

4장 문희상
  4장/문희상.md
Labels: 4장
