Repository muhandojeon/Why-Do-We-Work, pull requests merged in 2025-01, with the labels that each got.

#4 [최서희] 1장 : 왜 일하는가
  1장/서기.md
  1장/최서희.md
Labels: 1장

#2 [전호영] 1장 : 왜 일하는가
  1장/전호영.md
Labels: 1장

#3 [문희상] 1장 : 왜 일하는가
  1장/문희상.md
Labels: 1장

#5 [황동준] 1장 : 왜 일하는가
  1장/황동준.md
Labels: 1장

#6 [강연주] 1장 : 왜 일하는가
  1장/강연주.md
Labels: 1장

#7 [이은학] 1장 : 왜 일하는가
  1장/이은학.md
Labels: 1장

#14 [최서희] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가
  1장/최서희.md
  2장/최서희.md
  3장/최서희.md
  최서희.md
Labels: 1장, 2장, 3장

#12 [문희상] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가
  2장/문희상.md
  3장/문희상.md
Labels: 2장, 3장
