Repository muhandojeon/Why-Do-We-Work, pull requests merged in 2025-02, with the labels that each got.

#8 [공예영] 1장: 왜 일하는가
  1장/공예영.md
Labels: 1장

#9 [강연주] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가
  2장/강연주.md
  3장/강연주.md
Labels: 2장, 3장

#10 [한상호] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가
  2장/한상호.md
  3장/서기.md
  3장/한상호.md
Labels: 2장, 3장

#11 [전호영] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가
  2장/전호영.md
  3장/전호영.md
Labels: 2장, 3장

#15 [황동준] 2, 3장 : 일을 사랑하는가, 무엇을 꿈꾸는가
  2장/황동준.md
  3장/황동준.md
Labels: 2장, 3장

#17 [전호영] 4, 5장 : 노력을 지속하는가, 현재에 만족하는가
  4장/전호영.md
  5장/전호영.md
Labels: 4장, 5장

#16 [한상호] 4, 5장 : 노력을 지속하는가, 현재에 만족하는가
  4장/한상호.md
  5장/한상호.md
Labels: 4장, 5장

#18 [문희상] 4, 5장 : 노력을 지속하는가, 현재에 만족하는가
  4장/문희상.md
  5장/문희상.md
Labels: 4장, 5장

#19 [전호영] 6장 : 창조적으로 일하는가
  6장/전호영.md
Labels: 6장

#20 [한상호] 6장 : 창조적으로 일하는가
  6장/한상호.md
  README.md
Labels: 6장
